body {
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p
{
  font-style: "color:white";
}
h1{

    text-align: center;
    


h3{
font-size:100px ;
   }
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: aqua;
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  
#myDIV {
  max-width:300px;
  height:300px;
  background-color:#FFFFFF;
  line-height: 1;
}
  
.whatever {
  background-image: url("C:\Users\dell\Desktop")
  }
/* Makes all unvisited links purple with no text decoration (i.e. not underlined)*/
a:link {
	color: white;
	text-decoration: none;
}

/* Makes all visited links gray and with a line through */
a:visited {
	color: rgb(119, 130, 192);
	text-decoration: line-through;
}

/* Makes links purple and bold when hovered over */
a:hover {
	color: rgb(196, 217, 248);
	font-weight: bold;
}
.icon{
  color:black
}